{% extends 'base_auth.html' %} {% block content %}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-title">
        <h4>Register for a free account</h4>
        <form action="" method="post">
          <div class="form-group">
            <input
              type="username"
              name="username"
              id="usernameField"
              placeholder="Username"
            />
          </div>
        </form>
        <form action="" method="post">
          <div class="form-group">
            <input
              type="email"
              name="email"
              id="emailField"
              placeholder="Email"
            />
          </div>
        </form>
        <form action="" method="post">
          <div class="form-group">
            <input
              type="password"
              name="password"
              id="passwordField"
              placeholder="Password"
            />
            <small class="float right">SHOW</small>
          </div>
          <input type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

{% endblock content %}
